
{% include "base.html" %}
{% include "first.html" %}
<div class="container my-3">
    <!-- ------------------------------- [edit] -------------------------------- -->
        <div class="row">
            <div class="col-4">

               
            </div>
            <div class="col-8 text-center">
                <h2>로그인</h2>
                <span>또는 <a href="{% url 'common:signup' %}">계정을 만드세요.</a></span>
            </div>
        </div>
    <!-- ----------------------------------------------------------------------- -->
        <form method="post" class="post-form" action="{% url 'common:login' %}">