{% extends "base.html" %}
{% block content %}


{% load static %}

<html lang="ko">

<head>

  <title>Smart Inside</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
  .total {
    margin-top: 20px;
  }

  .login {
    margin: 20px;
  }

  .password {
    margin: 20px;
  }

  .jumbotron {
    background-color: #FFFFFF !important;
  }
</style>
<body>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form method="post" class="post-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        <div class="jumbotron text-center" style="margin-bottom:0">
          <a class="navbar-brand" href="">
            <h1><span style="color:rgb(68,114,196)">S</span><span style="color:black">mart</span> <span
                style="color:rgb(68,114,196)">I</span><span style="color:black">nside</span></h1>
          </a>
          <form class="form-horizontal" method="POST">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="total">
              <div class="login">
                <input type="text" class="form-control" id="username" name="username" placeholder="User number"
                  value="{{ form.username.value|default_if_none:'' }}">
              </div>
              <div class="password">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                  value="{{ form.password.value|default_if_none:'' }}">
              </div>
              <div class="login">
                <button type="submit" value="로그인" class="form-control btn btn-primary">로그인</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">
                <span><a href="{% url 'common:signup' %}">회원가입</a></span>
              </div>
            </div>
          </form>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
<div class="container my-3">
    <!-- ------------------------------- [edit] -------------------------------- -->
    <div class="row">
       
        <div class="col-8 text-right">

            <span>로그인  또는 <a href="{% url 'common:signup' %}">계정을 만드세요.</a></span>
        </div>
    </div>
    <!-- ----------------------------------------------------------------------- -->
    <form method="post" class="post-form" action="{% url 'common:login' %}">
    </form>
</div>


{% endblock %}