<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <title>SmartInside</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <script>
    $.ajaxSetup({
      headers: {
        "X-CSRFToken": '{{csrf_token}}'
      }
    });
  </script>
</head>
{% include "navbar.html" %}
<body>
  <div class="container my-4 pt-3">
    <div class="row">
      <div class="col-5 ">
        <img src="../static/img/{{ writing.img_file_name }}" alt="1" width="120%" height="105%" style="box-shadow:3px 3px 3px 3px;">

      </div>
      <div class="col-5 offset-2">
        <p style="font-size: 200%;">{{ writing.title }}</p>
        <div class="progress" style="width: 100%; height: 5px;">
          <div class="progress-bar" style="width:8rem; background-color: #67E5C1;" ></div>
        </div>
        <span class="badge badge-secondary" style="background-color: #67E5C1; inline-size: 24.3%; block-size: 10%; font-size: 100%;margin-top: 6pt;padding-top: 1.5%; border-radius: 2px;">
          {{ writing.tag }}
        </span>
        <div class="row"><b>&nbsp;</b></div>
        <b class="text" style="font-size: 100%;">
          <strong style="font-size: 200%;"> {{ writing.accumulated_amount }}</strong> 원 펀딩</b>
        <div class="row"><b>&nbsp;</b></div>
          {% if user.is_authenticated %}
          <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="point">
              <label for="point">후원 금액</label>
              <input id="point" type="number" class="form-control" name="point" placeholder="금액을 입력하시오.">
              <button type="submit" style="background-color: #67E5C1;" id="point" class="btn btn-secondary" data-dismiss="modal"
                style="margin: 1%;">후원</button>
            </div>
          </form>
          {% else %}
          <div class="alert alert-Info">
            <strong>회원정보 없음&nbsp;&nbsp;</strong><a href="/" class="alert-link">로그인</a><a>&nbsp;&nbsp; 이후에 시도하십시오.</a>
          </div>
          {% endif %}
      </div>
    </div>
  </div>
  <div class="modal fade" id="fundingModal" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">후원하기</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          {% if user.is_authenticated %}
          <span>{{user.email}} 보유 포인트 {{user.balance}}</span>
          <form action="pybo/fundingupdate" method="POST">
            {% csrf_token %}
            <div class="funding">
              <label for="funding">후원 금액</label>
              <input id="funding" type="number" class="form-control" name="funding" placeholder="금액을 입력하시오.">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" id="point" class="btn btn-secondary" data-dismiss="modal"
                style="margin: 3%;">후원</button>
            </div>
          </form>
          {% else %}
          <div class="alert alert-Info">
            <strong>회원정보 없음&nbsp;&nbsp;</strong><a href="/" class="alert-link">로그인</a><a>&nbsp;&nbsp; 이후에 시도하십시오.</a>
          </div>
          {% endif %}
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row pt-5 my-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="contatiner" style="background-color:#c7cdd1; width: 100%; border: 2pt solid beige;">
          <p style="margin: 1%; font-size: 25pt ;">[{{ writing.title }}]</p>
          <p style="margin-left: 1%; font-size: 20pt;">{{ writing.pub_date }}</p>
          <p>&nbsp;</p>
          <div class="container">
            <div class="row">
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col"
                style="background-color: aliceblue;padding: 1% 1% 5% 1%; margin: -3% 1% 1% 1%; border: beige solid;">
                {{ writing.contents }}
                <!-- <p>1. 보행 안전</p>
                <p>1)우회전 차량의 보행자 위협</p>
                <p>2) 불법 주/정차 차량에 의한 교통 체증</p>
                <p>3) 교통량을 감안하지 않는 일방적인 신호 체계</p>
                <p>2. 해당 위치/지역 등 사세 정보</p>
                <p>- 새솔동 전 지역</p>
                <p>3. 해결 아이디어</p>
                <p>- 실 통행량을 감지하여 신호가 자동으로 바뀌는 센서형 신호등 도입</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  </div>
  </div>
  <script>

  </script>
</body>
{% include "footer.html" %}