<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <title>SmartInside</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
</head>
{% include "navbar.html" %}

<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-5">
        <img src="../static/img/{{writing.id}}.png" alt="1" width="100%" height="95%">
      </div>
      <div class="col-5 offset-2">
        <p style="font-size: 200%;">{{writing.title}}</p>
        <div class="progress" style="width: 100%;">
          <div class="progress-bar" style="width:8rem; background-color: #67E5C1;">펀딩 목표</div>
        </div>
        <span class="badge badge-secondary"
          style="background-color: #67E5C1; inline-size: 24.3%; block-size: 10%; font-size: 100%;margin-top: 6pt;padding-top: 1.5%;">{{writing.tag}}</span>
        {% if writing.tag2 != None %}
        <span class="badge badge-secondary"
          style="background-color: #67E5C1; inline-size: 24.3%; block-size: 10%; font-size: 100%;margin-top: 6pt;padding-top: 1.5%;">{{writing.tag2}}</span>

        {% if writing.tag3 != None %}
        <span class="badge badge-secondary"
          style="background-color: #67E5C1; inline-size: 24.3%; block-size: 10%; font-size: 100%;margin-top: 6pt;padding-top: 1.5%;">{{writing.tag3}}</span>
        {% endif %}
        {% endif %}

        

        <div class="row"><b>&nbsp;</b></div>
        <b class="text" style="font-size: 100%;">
          <strong style="font-size: 200%;"> {{writing.capital}}</strong>원 펀딩</b>
        <div class="row"><b>&nbsp;</b></div>
        <button class="badge badge-secondary"
          style="background-color: #67E5C1;  inline-size: 50%; font-size: 80%;margin-bottom:2% ;padding: 1.5%"
          data-toggle="modal" data-target="#fundingModal">펀딩하기</button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="fundingModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">후원하기</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          {% if user.is_authenticated %}
          <span>{{user.username}} 내 보유 포인트 {{user.balance}}</span>
          <form action="/funding" method="POST">
            <div class="capital">
              <label for="capital">후원 금액</label>
              <input type="submit" class="form-control" id="funding" name="funding" placeholder="금액을 입력하시오." value="ok">
              <button type="submit" class="btn btn-secondary" data-dismiss="modal" style="margin: 1%;">후원</button>
            </div>
          </form>
          <form action="/team_name_url/" method="post">
            <label for="team_name">Enter name: </label>
            <input id="team_name" type="text" name="name_field" value="Default name for team.">
            <input type="submit" value="OK">
        </form>
          {% else %}
          <div class="alert alert-Info">
            <strong>회원정보 없음&nbsp;&nbsp;</strong><a href="/" class="alert-link">로그인</a><a>&nbsp;&nbsp; 이후에 시도하십시오.</a>
          </div>
          {% endif %}
        </div>
        <!-- Modal footer -->

      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row pt-5 my-3">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="contatiner" style="background-color:#c7cdd1; width: 100%; border: 2pt solid beige;">
          <p style="margin: 1%; font-size: 25pt ;">[{{writing.title}}]</p>
          <p style="margin-left: 1%; font-size: 20pt;">{{writing.pub_date}}</p>
          <p>&nbsp;</p>
          <div class="container">
            <div class="row">
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col"
                style="background-color: aliceblue;padding: 1% 1% 5% 1%; margin: -3% 1% 1% 1%; border: beige solid;">
                {{writing.contents}}
                <p>1. 보행 안전</p>
                <p>1)우회전 차량의 보행자 위협</p>
                <p>2) 불법 주/정차 차량에 의한 교통 체증</p>
                <p>3) 교통량을 감안하지 않는 일방적인 신호 체계</p>
                <p>2. 해당 위치/지역 등 사세 정보</p>
                <p>- 새솔동 전 지역</p>
                <p>3. 해결 아이디어</p>
                <p>- 실 통행량을 감지하여 신호가 자동으로 바뀌는 센서형 신호등 도입</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  </div>
  </div>
</body>
{% include "footer.html" %}