{% include "base.html" %}
{% load static %}
<div class="row mt-12">
    <div class="col-12 mb-4">
        <div class="container">
            <button type="button" class="btn btn-info">#건설</button>
            <button type="button" class="btn btn-info">#전화</button>
            <button type="button" class="btn btn-info">#Info</button>
            <button type="button" class="btn btn-info">#Info</button>
            <button type="button" class="btn btn-info">#Info</button>
            <button type="button" class="btn btn-info">#Info</button>
        </div>
    </div>
    {% include "list.html" %}
</div>