{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <div class="container">
                <div class="row" style="justify-content: space-between">
                    <button type="button" class="button no-bg"><img src="{% static 'img/main page_icon001.png' %}"></button>
                    <button type="button" class="button no-bg"><img src="{% static 'img/main page_icon002.png' %}"></button>
                    <button type="button" class="button no-bg"><img src="{% static 'img/main page_icon003.png' %}"></button>
                    <button type="button" class="button no-bg"><img src="{% static 'img/main page_icon004.png' %}"></button>
                    <button type="button" class="button no-bg"><img src="{% static 'img/main page_icon005.png' %}"></button>
                    <button type="button" class="button no-bg"><img src="{% static 'img/main page_icon006.png' %}"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex col mb-5 justify-content-center"><img src="{% static 'img/main page_subhead.png' %}" ;align="center"></div>
    </div>
</div>