{% load static %}

<div class="container my-4">
  <div class="row">
    <div class="col-md-10 offset-md-1"></a>
      <form method="post" class="post-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        <div class="text-center" style="margin-bottom:0; background-color: #FFFFFF !important;">
          <a class="navbar-brand" href="/">
            <h1><span style="color:black">로그인</span></h1>
          </a>
          <div class="form-horizontal" method="POST">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="login-form">
              <div class="login">
                <div class="col p-0"><b>아이디</b></div>
                <div class="input-group input-group-lg">
                  <input type="text" class="form-control" id="username" name="username" placeholder="아이디를 입력하시오" value="">
                </div>
              </div>
              <div class="password">
                <div class="col p-0"><b>비밀번호</b></div>
                <div class="input-group input-group-lg">
                  <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하시오" value="">
                  <button class="btn no-bg" type="button" id="button-addon2" style="margin-left: -55px; z-index: 1000;">
                    <img onmouseover="showPassword()" onmouseout="hidePassword()" src="{% static 'img/password_original size.png' %}"></button>
                </div>
              </div>
              <div class="login">
                <button type="submit" value="로그인" class="form-control btn btn-lg"
                  style="background-color: rgb(103,214,232);color: #ffffff; border: 0;">로그인</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center" style="font-weight: 500">
                <span><a href="{% url 'common:signup' %}" style="text-decoration: none; color: #212529;">회원가입</a></span>
                <span class="px-3">&#124;</span>
                <span>ID/PW 찾기</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>