{% load static %}
<footer class="pb-5">
    <div class="container" style="max-width: 1440px !important;">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="button no-background">
                <span class="footer-condition">정책 	&#8729; 약관 </span><img src="{% static 'img/lower bar_icon.png' %}">
                </button>
                <button type="button" class="button no-background">
                <b class="footer-condition">개인정보 처리방침 </b><img src="{% static 'img/lower bar_icon.png' %}">
                </button>
            </div>
            <div class="col-md-8">
                <div class="d-flex col-md-12" style="margin-left: -15px;">
                    <p style="margin-bottom: 0">
                        <span>주소 : 경기도 수원시 장안구 서부로 2066, 산학협력센터 85201호</span>&nbsp&nbsp
                        <span>운영기관 : (주)스마트인사이드AI</span>&nbsp&nbsp
                        <span>연락처 : 031-290-7533</span>
                    </p>
                </div>
                <span>Copyright &copy; SmartInside 2021</span>
            </div>
        </div>
    </div>
