{% load static %}
{% for i in writing %}
    <div class="col-4">
        <div class="container">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'img\{{writing.id}}.png' %}" alt="Card image" style="width:90%">
                <div class="card-body">
                    <h4 class="card-title">도전</h4>
                    <p class="card-text">Some example text some example text. 
                    </p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
<div class="col-4">
    <div class="container">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'img\industrial2.png' %}" alt="Card image" style="width:90%">
            <div class="card-body">
                <h4 class="card-title">정신</h4>
                <p class="card-text">Some example text some example text.
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="container">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'img\bridge.png' %}" alt="Card image" style="width:90%">
            <div class="card-body">
                <h4 class="card-title">혁신</h4>
                <p class="card-text">Some example text some example text.
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}