{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
  <!-- pybo CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <title>스마트시티 리빙랩</title>
</head>

<body>
  <!-- Navigation-->
  <!-- 수정 -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <!-- 수정 -->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
          <a class="navbar-brand" href="/"><img src="{% static 'img/main page_high bar.jpg' %}" allign="center"></a>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="container px-4 px-lg-5"><button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">아이디어펀딩</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">스마트시티리빙랩이란?</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        {% if user.is_authenticated %}
        <span class="nav-item"><a class="nav-link px-lg-1 py-1 py-lg-0"
            href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)<img src="{% static 'img\main page_middle bar_icon001.png' %}"
              alt="login" height="40" width="40"></a>
          {% else %}
          <span class="nav-item"><a class="nav-link px-lg-1 py-1 py-lg-0"
              href="{% url 'common:login' %}">로그인&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'img\main page_middle bar_icon001.png' %}"
                alt="login" height="40" width="40"></span></a>
          <span class="nav-item"><a class="nav-link px-lg-1 py-1 py-lg-2" href="{% url 'common:signup' %}">회원가입<img
                src="{% static 'img\main page_middle bar_icon002.png' %}" alt="signup" height="40" width="40"></span></a>
          {% endif %}
      </div>
      </nav>
      <!-- ## -->
    </div>
  </div>