{% load static %}
<!-- Navigation-->
<div class="container-fluid ">
  <div class="row nav-title">
    <div class="col-lg-12 nav-title">
      <a href="/" style="text-decoration: none;">
        <div class="navbar-expand-lg navbar-light p-4" id="mainNav">
          <p style="font-size: 25pt; margin-bottom: 0; font-family: '경기천년제목Light';">화성시 새솔동 <b
              style="font-family: '경기천년제목Bold'">스마트타운</b></p>
          <span style="font-size: 20pt; font-family: '나눔스퀘어Bold'; text-align: center;">HWASEONG SMART CITY</span>
          <!-- <a class="navbar-brand" href="/"><img src="{% static 'img/main page_high bar.jpg' %}"></a> -->
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="d-flex col-md-6" style="font-size: 25pt;">
      <a class="nav-link" href="{% url 'index' %}"><span style="color:#262626; font-family: '나눔스퀘어ExtraBold'">아이디어
          펀딩</span></a>
      <a class="nav-link" href="se.html"><span style="color:#3CB587; font-family: '나눔스퀘어Regula'">스마트시티 리빙랩</span><span
          style="color:#262626">이란?</span><a>
    </div>
    <div class="d-flex col-md-6" style="font-size: 20pt; color: #515151 !important; justify-content: flex-end;">
      {% if user.is_authenticated %}
      <span class="nav-item"><a class="nav-link" href="{% url 'common:logout' %}"
          style="color: inherit; font-family: '나눔스퀘어Regula';">
          <img src="{% static 'img/main page_middle bar_icon001.png' %}">{{ user.username }} (로그아웃)</a></span>
      {% else %}
      <span class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal"
          style="color: inherit; font-family: '나눔스퀘어Regula';">
          <img src="{% static 'img/main page_middle bar_icon001.png' %}"> 로그인</a></span>

      {% endif %}
      <span class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#signupModal"
          style="color: inherit; font-family: '나눔스퀘어Regula';">
          <img src="{% static 'img/main page_middle bar_icon002.png' %}"> 회원가입</a></span>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          {% include "first.html" %}
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">회원가입</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container my-3">
          <div class="row my-3">
            <div class="col-4">
              <h4>계정생성</h4>
            </div>
          </div>
          <form method="post" class="post-form" action="{% url 'common:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="form-group">
              <label for="username">이름</label>
              <input type="text" class="form-control" name="username" id="user" placeholder="아이디를 입력하시오."
                value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="form-group">
              <label for="email">이메일</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="이메일을 입력하시오."
                value="{{ form.email.value|default_if_none:'' }}"><button type="submit" class="btn btn-primary" style="width:auto">이메일인증</button>
              <div class="form-group">
                <label for="password1">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1" placeholder="비밀번호를 입력하시오."
                  value="{{ form.password1.value|default_if_none:'' }}">
              </div>
              <div class="form-group">
                <label for="password2">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="비밀번호를 입력하시오."
                  value="{{ form.password2.value|default_if_none:'' }}">
              </div>
            </div>
            <button type="submit" class="btn btn-primary" style="width:30%">완료</button>
          </form>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>