<!-- ################### -->
{% extends 'base.html' %}
{% block pagetitle %}SmartInside{% endblock %}
{% block javascript %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}
{% load static %}
{% block content %}
<div class="infinite-container">
  {% for writing in writings %}
    <div class="infinite-item">
      <h3>{{ writing.title }}</h3>
      <p>
        <small>{{ writing.capital }} / {{ writing.date }}</small>
      </p>
      <p>{{ writing.body|truncatechars:100 }}</p>
    </div>
  {% empty %}
  {% endfor %}
    <div class="infinite-item">
    {% for writing in writings %}
      <div class="infinite-item">
        <h3>{{ writing.title }}</h3>
        <p>
          <small>{{ writing.tag }} / {{ article.hits }}</small>
        </p>
        <p>{{ article.body|truncatechars:100 }}</p>
    </div>
  {% endfor %}
</div>

<div class="loading" style="display: none;">
  Loading...
</div>

{% if page_obj.has_next %}
  <a class="infinite-more-link" href="?page={{ writings.next_page_number }}">More</a>
{% endif %}
{% endblock %}
<!-- ############################### -->
<!-- <div class="col-4">
        <div class="container">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{% static 'img\industrial1.png' %}" alt="Card image" style="width:90%">
                <div class="card-body">
                    <h4 class="card-title">도전</h4>
                    <p class="card-text">Some example text some example text. 
                    </p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
<div class="col-4">
    <div class="container">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'img\industrial2.png' %}" alt="Card image" style="width:90%">
            <div class="card-body">
                <h4 class="card-title">정신</h4>
                <p class="card-text">Some example text some example text.
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>
<div class="col-4">
    <div class="container">
        <div class="card" style="width:300px">
            <img class="card-img-top" src="{% static 'img\bridge.png' %}" alt="Card image" style="width:90%">
            <div class="card-body">
                <h4 class="card-title">혁신</h4>
                <p class="card-text">Some example text some example text.
                </p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div> -->